[mobile-trunk]
type=endpoint
context=poc-inbound
disallow=all
allow=ulaw,alaw
aors=mobile-trunk

[mobile-trunk]
type=aor
contact=sip:REPLACE_WITH_MOBILE_GATEWAY

[anurag]
type=endpoint
context=from-anurag
disallow=all
allow=opus,ulaw,alaw
auth=anurag
aors=anurag

[anurag]
type=auth
auth_type=userpass
username=anurag
password=REPLACE_WITH_LONG_RANDOM_PASSWORD

[anurag]
type=aor
max_contacts=2
remove_existing=yes
